.wrapper {
  display: flex;
  flex-wrap: wrap; /* Info:  https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap */
  justify-content: space-between;
  padding: 20px;
}

.wrapper h1 {
  text-align: center;
  width: 100%;
}